/* Elements */
body {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: calc(1.75rem + 1.5vw);
}

/* Navbar */
.red-background {
    background-color: #9F2C36;
}

.logo-fixed {
    background-color: white;
    position: absolute;
    top: 0;
    left: 40px;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 5px 10px 20px #00000028;
}
.logo-small {
    display: none;
}

@media screen and (max-width: 992px) {
    .logo-fixed {
        display: none;
    }
    .logo-small {
        display: inline;
    }
}

/* Flags */
i.flag:not(.icon):before {
    display: inline-block;
    content: '';
    background: url("https://mdbootstrap.com/img/svg/flags.png") no-repeat -108px -1976px;
    width: 16px;
    height: 11px;
}

i.flag.lv:before,
i.flag.latvia:before {
    background-position: -36px -1456px;
}

i.flag.ru:before,
i.flag.russia:before {
    background-position: -72px -884px;
}

i.flag.en:before,
i.flag.england:before {
    background-position: -72px -1950px;
}

/* Images */
.img-landing {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/home.webp");
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    background-size: cover;
    padding: 5rem 0 5rem 0;
}

/* Button */
.ahja-button {
    background-color: #9F2C36;
    color: white;
    border-radius: 0;
}

.ahja-ghost-button {
    border: 2px solid white;
    color: white;
    border-radius: 0;
}

.ahja-ghost-button:hover {
    color: darkgray;
}

/* Home page */
.img-features {
    max-width: 100%;
    width: 100%;
    border-radius: 16px;
    box-shadow: -20px 20px #9F2C36;
    position: relative;
}

.magnifying-glass {
    border-radius: 50px;
    background-color: #9F2C36;
    color: white;
    z-index: 2;
}

.carousel img {
    height: 24rem;
    width: auto;
}

.carousel a:hover {
    background-color: #9F2C36;
}

.carousel img:hover {
    opacity: 0.6;
}

/* Gallery */
.gallery-image {
    width: 100%;
    min-height: 100px;
    border-radius: 16px;
}

.gallery-image:hover {
    opacity: 0.6;
}

.gallery-background:hover {
    background-color: #9F2C36;
    border-radius: 16px;
}

/* Footer */
.icon-footer {
    color: #9F2C36;
    font-size: 2.5rem;
}