/* Elements */
body {
    background-color: rgb(255, 255, 255);
}

/* Navbar */
.red-background {
    background-color: #8C080C;
}

.logo-fixed {
    background-color: white;
    position: absolute;
    top: 0;
    left: 40px;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 5px 10px 20px #00000028;
}
.logo-small {
    display: none;
}

@media screen and (max-width: 992px) {
    .logo-fixed {
        display: none;
    }
    .logo-small {
        display: inline;
    }
}

/* Button */
.ahja-button {
    background-color: #b4926b;
    color: white;
    border-radius: 0;
}

.ahja-ghost-button {
    border: 2px solid white;
    color: white;
    border-radius: 0;
}

/* Home page */
.img-landing {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/home.png");
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    background-size: cover;
    border: 2px solid;
    padding: 5rem 0 5rem 0;
}

.img-features {
    background: url("/img/features.jpg");
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}

/* Footer */
.icon-footer {
    color: #8C080C;
    font-size: 2.5rem;
}